![VerifyConnectivity](https://github.com/user-attachments/assets/9236fdc7-0e9d-43c0-949b-7e3b6fbafca5)



![BasicConfig](https://github.com/user-attachments/assets/30e13a73-3c1b-4aaa-a6de-71a39d31f01e)




![VlanConfig](https://github.com/user-attachments/assets/c63627f8-b0e0-44a6-81f7-6eb9d971ba3d)




![BackupConfig](https://github.com/user-attachments/assets/a2f0e1eb-6475-4c88-8085-51fe570d0459)
